body{
  background-color: #FFF;
}

.centrado {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.cuadro {
  background-color: green;
  width: 300px;
  height: 200px;
  border: 0px solid #grey;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.container{
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #dadada;
}

.contenedor_viaje{
  width: 100%;
  border: 2px solid #f17376;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 4px 20px;
  background-color: ;
  transition: 0.2s;
}

.contenedor_viaje:hover{
  color: #fff;
  background-color:#f17376;
}
