body{
  background-color: grey;
}

.centrado {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

}

.cuadro {
  background-color: green;
  width: 300px;
  height: 200px;
  border: 0px solid #grey;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.container{
  background-color: #fff;


.contenedor_viaje{
  width: 100%;
  border: 2px solid #f17376;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 4px 20px;
  background-color: ;
  transition: 0.2s;
}

.contenedor_viaje:hover{
  color: #fff;
  background-color:#f17376;
}


.strike {
display: block;
text-align: center;
overflow: hidden;
white-space: nowrap;
}

.strike > span {
position: relative;
display: inline-block;
}

.strike > span:before,
.strike > span:after {
content: "";
position: absolute;
top: 50%;
width: 9999px;
height: 1px;
background: red;
}

.strike > span:before {
right: 100%;
margin-right: 15px;
}

.strike > span:after {
left: 100%;
margin-left: 15px;
}
